:root {
  --main-bg-color: #353535;
  --second-bg-color: #6e6e6e;
  --main-color: #f5f5f5;
  --main-font-family: Roboto, Noto, sans-serif;
  --href-color: rgb(64, 255, 255);
  --href-visited-color: rgb(255, 64, 255);
}

html, body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-family: var(--main-font-family);
  display: flex;
  flex-direction: column;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  flex: auto;
}

html, body, h1, h2, h3, h4, h5, h6, .m-p-0 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.7em;
}

header {
  padding: 8px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--href-color);
}

a:visited {
  color: var(--href-visited-color);
}

textarea {
  background-color: transparent;
  color: inherit;
}

button {
  background-color: var(--main-bg-color);
  opacity: 0.8;
  color: var(--main-color);
  user-select: none;
  padding: 8px;
  border-style: none;
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin: 1px;
}

button:hover {
  opacity: 0.9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

button:active {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.33);
  opacity: 1;
}

*[disabled], *:disabled {
  opacity: 0.5;
}

ul.menu>li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  font-size: 1.25em;
}

ul.menu>li>img {
  margin-right: 8px;
  width: 1.25em;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.raised {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5);
}

.center {
  align-items: center;
}

.horizontal, .vertical {
  display: flex;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.flex {
  flex: auto;
}

.no-flex {
  flex: 0 0 auto;
}

[hidden], .hidden {
  display: none;
}